<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
{{!-- Bootstrap for styling --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"/>
    {{!-- bulma styling --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- local stylesheet -->
    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
    <title>Club Hub Kids</title>
  </head>
  <h1>Club Hub Kids</h1>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>
      <a class="navbar-item" href="/about">
        About Us
      </a>
        <a class="navbar-item" href="/courses/new">
        Submit an Event
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/signup">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="/login">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
       
    <main>
      {{{ body }}}
    </main>
    <footer class="footer">
        <div id="footer">
            <p style="text-align: center;"> <a href="index.html">HOME</a> | <a href="/views/about.handlebars">ABOUT</a>| <a href="https://github.com/nelsonRoberts1968/after_school">SOURCE</a> </p>
            <p style="text-align: center; font-size:14px">&copy; 2022 Club Hub Kids</p>  
          </div>
        </footer> 
{{!-- login/logout js files --}}
{{!-- <script src="../javascript/login.js"></script>
<script src="../javascript/logout.js"></script>
<script src="../javascript/signup.js"></script> --}}
{{!-- local courses js file --}}
{{!-- <script src="../js/courses.js"></script> --}}
</body> 
</html>
