      <div class="card-form-container">
        <div class="card">
          <h2 class="card-title">Welcome to the Club!</h2>
          <h4 class="card-subtitle">
          </h4>
          <div class="card-content">
            <p class = "lead">Club Hub Kids was created by local parents, for local parents in 2021.</p>
            <br>
            <p>We as parents of children were tired of searching all over the internet - endless google searches, facebook posts from different groups, neighborhood apps, yelp, the list goes on - in order to find a class, group, or camp for our kiddos. We knew there could be a better way. Our goal is to take one thing off your plate today - being a parent, caretaker, guardian is a busy job!! Our tailored content gets you in front of the classes, camps, after-school programs, sports leagues, summer/camps and local events perfect for your family. </p>
          <div class="card-footer">
            <p>Something missing??
            We are continually adding new content. If you have a class or event that you would like to see added to our list, please submit a <a href="/submit">New Event Form</a>! </p>
          </div>
        </div>  
      </div>
    </div>
      {{#if message}}
      <h4 class="alert alert-danger  mt-4">{{message}}</h4>
      {{/if}}
    
