
    <!--Add Striped Border-->
    <section class="hero is-large">
            <div class="hero-body">
            <form class="form hero-form" id="hero-form">
              <label for="searchbox">Search Classes&nbsp;&nbsp;</label><input type="search" placeholder= "Search Classes" oninput="liveSearch()" id "searchbox">
                     <select name="Categories" id="Categories">
                       <option value="CATEGORY"selected>Search by Category</option>
                       <option value="Arts">Arts</option>
	                     <option value="Sports">Sports</option>
                       <option value="Music">Music</option>
                       <option value="STEM">STEM</option>
                       <option value="Dance">Dance</option>
                       <option value="Tutoring">Tutoring</option>
                       <option value="Summer/Winter Camps">Summer and Winter Camps</option>
                       <option value="Child Care">Child Care</option>
                     </select>
              
                     <select name="Locations" id="Locations">
                       <option value="CITY" selected>Search by City</option>
                       <option value="Carmichael">Carmichael</option>
                       <option value="Citrus Heights">Citrus Heights</option>
                       <option value="Davis">Davis</option>
                       <option value="El Dorado Hills">El Dorado Hills</option>
                       <option value="Elk Grove">Elk Grove</option>
                       <option value="Fair Oaks">Fair Oaks</option>
                       <option value="Folsom">Folsom</option>
                       <option value="Galt">Galt</option>
                       <option value="Lincoln">Lincoln</option>
                       <option value="Lodi">Lodi</option>
                       <option value="Natomas">Natomas</option>
                       <option value="Rachno Cordova">Rachno Cordova</option>
                       <option value="Rocklin">Rocklin</option>
                       <option value="Roseville">Roseville</option>
                       <option value="Sacramento">Sacramento</option>
                       <option value="West Sacramento">West Sacramento</option>
                       <option value="Woodland">Woodland</option>
                     </select> 
                     <button class="button">Search</button>      
            </div>
      </form> 

    <div class="container">
        <div id="courseDiv"></div>
    </div>
</section>
    <br>
    <!--Add Striped Border-->
    <h2 class="striped-border"></h2>
    {{!-- <script src="../public/js/courses.js"></script> --}}
