                <div class="card-container" id="categories">

                  <a href="http://localhost:3001/courses/arts">
                  <div class="card card-cats" id="arts">
                      <h1 class = "card-content">Arts</h1>
                  </div></a>
                  <a href="http://localhost:3001/courses/dance">
                  <div class="card card-cats" id="dance">
                    <h1 class = "card-content">Dance</h1>
                  </div></a>
                  <a href="http://localhost:3001/courses/music">
                  <div class="card card-cats" id="music">
                    <h1 class = "card-content">Music</h1>
                  </div></a>
                   <a href="http://localhost:3001/courses/sports">
                  <div class="card card-cats" id="sports">
                    <h1 class = "card-content">Sports</h1>
                  </div></a>
                  <a href="http://localhost:3001/courses/stem">
                  <div class="card card-cats" id="stem">
                    <h1 class = "card-content">STEM</h1>
                  </div></a>
                  <a href="http://localhost:3001/courses/tutoring">
                  <div class="card card-cats" id="tutoring">
                    <h1 class = "card-content">Tutoring</h1>
                  </div></a>
                  <a href="http://localhost:3001/courses/camps">
                  <div class="card card-cats" id="camps">
                    <h1 class = "card-content">Summer/Winter Camps</h1>
                  </div></a>
                  <a href="http://localhost:3001/courses/childCare">
                  <div class="card card-cats" id="childCare">
                    <h1 class = "card-content">Child Care</h1>
                  </div></a>
            </div>  

            {{!-- <script src="../public/javascript/courses.js"></script> --}}