
<div class="card-form-container">
  <form class="box" action="" method="POST">
  <div class="field">
    <label  for = "email login"class="label">Email</label>
    <div class="control">
      <input class="input" type="email" placeholder="e.g. alex@example.com">
    </div>
  </div>

  <div class="field">
    <label for= "password-login" class="label">Password</label>
    <div class="control">
      <input class="input" type="password" id="password-login" placeholder="********">
    </div>
  </div>

  <button class="button is-primary">Sign in</button>
</form>
    
<script src="/javascript/login.js"></script>
