<div class="card-form-container">
          <h2 class="card-title">Submit your course, camp or event!</h2>
          <h4 class="card-subtitle">Fill out the details below to be included in Club Hub Kids' database.
          </h4>

      <div class="card">
        <form class="form-container" id="newEventForm" action="/api/course/new" method="POST">
              <div class="form-group">
                  Your Contact Information:
                    <label for="first-name" class="form-text">First Name:</label>
                    <input type="name" class="form-control" id="first-name" name="firstName"/>
                    <label for="last-name" class="form-text">Last Name:</label>
                    <input type="name" class="form-control" id="last-name" name ="lastName"/>
                    <label for="email" class="form-text">Email:</label>
                    <input type="email" class="form-control" id="email" name="email"/>
                    <label for="course-title">Name of the Class:</label>
                    <input type="text" class="form-control" id="course-title" name="title"/>
                    <label for="description">Description of event:</label>
                    <input type="textarea" class="form-control" id="description" name ="description"/>
                    <label for="url">Course Website:</label>
                    <input type="url" class="form-control" id="url" name="url" placeholder = 'https://'/>
                </div>

                <div class = "form-group" id="location-fields">
                    Location:

                    <label for="antelope">Antelope</label>
                    <input type="checkbox" class="checkbox-options city" id="antelope" name="city[]" value="0">

                    <label for="carmichael">Carmichael</label>
                    <input type="checkbox" class= "checkbox-options city"  id="carmichael" name="city[]" value="1">

                    <label for="citrus_heights">Citrus Heights</label>
                    <input type="checkbox" class= "checkbox-options city" id="citrus_heights" name="city[]" value="2">

                    <label for="el_dorado_hills">El Dorado Hills</label>
                    <input type="checkbox" class= "checkbox-options city"  id="el_dorado_hills" name="city[]" value="3">

                    <label for="elk_grove">Elk Grove</label>
                    <input type="checkbox" class= "checkbox-options city"  id="elk_grove" name="city[]" value="4">

                    <label for="fair_oaks">Fair Oaks </label>
                    <input type="checkbox" class= "checkbox-options city"  id="fair_oaks" name="city[]" value="5">
                    
                    <label for="folsom">Folsom </label>
                    <input type="checkbox" class= "checkbox-options city"  id="folsom" name="city[]" value="6">

                    <label for="galt">Galt </label>
                    <input type="checkbox" class= "checkbox-options city"  id="galt" name="city[]" value="7">

                    <label for="lincoln">Lincoln </label>
                    <input type="checkbox" class= "checkbox-options city"  id="lincoln" name="city[]" value="8">

                    <label for="lodi">Lodi </label>
                    <input type="checkbox" class= "checkbox-options city"  id="lodi" name="city[]" value="9">

                    <label for="natomas">Natomas</label>
                    <input type="checkbox" class= "checkbox-options city"  id="natomas" name="city[]" value="10">

                    <label for="rancho_cordova">Rancho Cordova</label>
                    <input type="checkbox" class= "checkbox-options city"  id="rancho_cordova" name="city[]" value="11">

                    <label for="fair_oaks">Rocklin </label>
                    <input type="checkbox" class= "checkbox-options city"  id="rocklin" name="city[]" value="12">

                     <label for="roseville">Roseville</label>
                     <input type="checkbox" class= "checkbox-options city"  id="roseville" name="city[]" value="13">
                    
                     <label for="sacramento">Sacramento</label>
                     <input type="checkbox" class= "checkbox-options city"  id="sacramento" name="city[]" value="14">
                    
                     <label for="west_sacramento">West Sacramento</label>
                     <input type="checkbox" class= "checkbox-options city"  id="west_sacramento" name="city[]" value="15">
                    
                     <label for="woodland">Woodland</label>
                     <input type="checkbox" class= "checkbox-options city"  id="woodland" name="city[]" value="16">
                    
                     <label for="davis">Davis</label>
                     <input type="checkbox" class= "checkbox-options city"  id="davis" name="city[]" value="17">
                    
                     <label for="online">Online</label>
                     <input type="checkbox" class= "checkbox-options city"  id="online" name="city[]" value="18">
                    
                     <label for="granite_bay">Granite Bay</label>
                     <input type="checkbox" class= "checkbox-options city"  id="granite_bay" name="city[]" value="19">
                    
                     <label for="north_highlands">North Highlands</label>
                     <input type="checkbox" class= "checkbox-options city"  id="north-highlands" name="city[]" value="20">

                      <label for="auburn">Auburn</label>
                      <input type="checkbox" class= "checkbox-options city"  id="auburn" name="city[]" value="21">

                  </div>

                  <div class = "form-group">
                    <label for="category" class='form-text category'>Category:</label>

                    <label for="arts">Arts</label>
                    <input type="checkbox" class="checkbox-options category" id="arts" name="category[]" value="0">

                    <label for="dance">Dance</label>
                    <input type="checkbox" class= "checkbox-options category"  id="dance" name="category[]" value="1">

                    <label for="music">Music</label>
                    <input type="checkbox" class= "checkbox-options category" id="music" name="category[]" value="2">

                    <label for="sports">Sports</label>
                    <input type="checkbox" class= "checkbox-options category"  id="sports" name="category[]" value="3">

                    <label for="stem">STEM</label>
                    <input type="checkbox" class= "checkbox-options category"  id="stem" name="category[]" value="4">

                    <label for="tutoring">Tutoring</label>
                    <input type="checkbox" class= "checkbox-options category"  id="tutoring" name="category[]" value="5">

                    <label for="camps">Camps</label>
                    <input type="checkbox" class= "checkbox-options category" id="camps" name="category[]" value="6">

                    <label for="events">Events</label>
                    <input type="checkbox" class= "checkbox-options category"  id="events" name="category[]" value="7">

                    <label for="child_care">Child Care</label>
                    <input type="checkbox" class= "checkbox-options category"  id="child_care" name="category[]" value="8">
      
                    <label for="after_school">After School Program</label>
                    <input type="checkbox" class= "checkbox-options category"  id="after_school" name="category[]" value="9">

                </div>

                  <div class = "form-group">
                    <label for="age" class='form-text age'>Age group:</label>

                    <label for="infant_toddler">Infant/Toddler</label>
                    <input type="checkbox" class="checkbox-options age" id="infant_toddler" name="age[]" value="0">

                    <label for="preschool">Preschool</label>
                    <input type="checkbox" class= "checkbox-options age"  id="preschool" name="age[]" value="1">

                    <label for="elementary">Elementary School</label>
                    <input type="checkbox" class= "checkbox-options age" id="elementary" name="age[]" value="2">

                    <label for="middle">Middle School</label>
                    <input type="checkbox" class= "checkbox-options age"  id="middle" name="age[]" value="3">

                    <label for="high">High School</label>
                    <input type="checkbox" class= "checkbox-options age"  id="high" name="age[]" value="4">

                </div>
              
                <div class="card-footer">

                  <label for="accept-terms" name="accept-terms" class="form-check-label">Accept Terms &amp; Conditions</label>
                  <input type="checkbox" id="accept-terms" class="form-check-input">

                </div>

                <button id = "new-form-submit" type="submit" class="btn btn-primary  btn-block" value="submit">Submit</button>
        </form>
      </div>
    </div>

      {{!-- {{#if message}}
      <h4 class="alert alert-danger  mt-4">{{message}}</h4>
      {{/if}} --}}


  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

  <script src = "../javascript/newEvent.js"></script>
