:root {
  --primaryColor: #1c4755;
  --secondaryColor: #00a08f;
  --tertiaryColor: #efc458;
  --fourthColor: #ff9f52;
  --accentColor: #f66747;
  --additionalColor: #cedbd8;
  --whiteColor: #f9f9f9;
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS',
    sans-serif;
  margin: 5px;
  padding: 3px;
}

/* Header & Nav */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px var(--secondaryColor);
  margin: 20px;
  padding: 30px;
}

.navbar li {
  align-items: center;
  justify-content: space-between;
}

.navbar-list {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}
.navbar-list a {
  text-decoration: none;
}
.navbar-list a:hover {
  font-weight: bold;
  text-decoration: none;
}

/* .logo {
  float: left;
  margin-top: 10px;
  width: 60%;
  height: 80%;
} */

.hero {
  /* background-image: url('../images/images.jpeg'); */
  /* background-position: center;
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center; */
  background-color: var(--secondaryColor);
  border-radius: 30px;
  align-content: center;
  justify-content: center;
}
#course-search {
  /* background-color: white; */
  border-radius: 40px;
  border: var(--whiteColor) 1px solid;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
}
.search {
  flex: 40%;
  width: 40vw;
  height: 4vw;
  border-radius: 40px;
  font-size: 3vw;
  padding-left: 20px;
  border: none;
}
#search-btn {
  align-content: flex-start;
}

select {
  align-content: center;
  size: 30px;
}

/* end nav & hero styling */

/* forms & checkboxes */
.checkbox-options {
  padding: 10px;
  margin: 5px;
  justify-content: space-between;
}
.card-form-container {
  font-size: 18px;
  margin: 40px;
  background-color: var(--whiteColor);
  font-size: 18px;
  padding: 30px;
  direction: ltr;
  text-align: left;
  line-height: 40px;
}
/* .card-form-container p {
  font-size: 20px;
  background-color: var(--primaryColor);
  padding: 30px;
  direction: ltr;
  text-align: left;
  line-height: 40px;
} */
.form-group {
  padding: 5px;
  margin: 5px;
  justify-content: space-around;
}
.form-container {
  background: var(--whiteColor);
  border-radius: 20px;
  width: 600px;
  /* border: var(--tertiaryColor) 1px solid; */
  box-shadow: 0px 0px 0px 0px -var(--additionalColor);
  margin: auto;
  padding: 10px;
}
.form {
  background-color: var(--whiteColor);
  float: right;
  height: 50px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}
.loginform {
  background-color: var(--secondaryColor);
  margin-top: 50px;
}
/* end form styling */

/* other elements */
.striped-border {
  border: 1px solid var(--accentColor);
  width: 80%;
  margin-top: 5px;
  margin-left: auto;
  margin-bottom: 5px;
  margin-right: auto;
}
.btn {
  border: var(--accentColorOpague) 1px;
  border-radius: 40px;
  font-size: 20px;
}

.links {
  text-decoration: none;
}
.links:hover {
  font-size: larger;
  font-weight: bold;
  color: var(--primaryColor);
}
.section-heading {
  align-content: center;
  color: var(--primaryColor);
}
/* end other styling */

/* footer */
footer {
  margin: 50px;
  padding: 15px;
  height: 20px;
  text-align: center;
  align-items: center;
  justify-content: end;
}
#footer a {
  text-decoration: none;
  color: var(--primaryColor);
}
/* end footer styling */

/* cards */
.card {
  /* background-color: var(--whiteColor); */
  margin: 70px;
  padding: 20px;
  border-radius: 20px;
}

.card-form-container {
  /* background-color: var(--whiteColor); */
  border-radius: 30px;
}

.card-title {
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
  color: var(--primaryColor);
}
.card-subtitle {
  color: var(--secondaryColor);
  align-content: center;
  text-align: center;
}

.card p {
  color: var(--primaryColor);
  text-align: center;
}

.card-footer {
  text-align: center;
  justify-content: center;
  background-color: var(--additionalColor);
}

.card-content {
  margin: 20px;
  padding: 30px;
  flex: wrap;
  align-items: center;
  justify-content: center;
  /* background-color: var(--whiteColor); */
}

/* end card styling */

@media (min-width: 768px) and (max-width: 1096px) {
  .text_column {
    width: 100%;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    font-size: 14px;
  }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  body {
    font-size: 12px;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  body {
    font-size: 14px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    font-size: 16px;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  body {
    font-size: 16px;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body {
    font-size: 16px;
  }
}

/* 	iPad 3 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    font-size: 16px;
  }
}
/* main */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    font-size: 16px;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  body {
    font-size: 16px;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  body {
    font-size: 16px;
  }
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    font-size: 14px;
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    body {
      font-size: 14px;
    }
  }

  /* iPhone 5 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    body {
      font-size: 14px;
    }
  }
}
